<div class="site-navbar bg-dark text-white">
    <div class="container d-flex">
        <div class="logo">
            <img src="https://res.yame.vn/Content/images/yame-f-logo-white.png" alt="icon" class="logo_icon">
        </div>
        <nav class="main-nav d-flex site-navigation">
            <ul class="site-menu d-flex">
                <li class="site-menu_item">
                    For Men
                </li>
                <li class="site-menu_item">
                    For Girl
                </li>
                <li class="site-menu_item">
                    Designed
                </li>
                <li class="site-menu_item">
                    Unisex
                </li>
            </ul>
        </nav>
        <div class="icons">
            <i class="fa-solid fa-magnifying-glass"></i>
            <i class="fa-regular fa-user"></i>
            <i class="fa-sharp fa-solid fa-bag-shopping"></i>
        </div>
    </div>
</div>